{% extends "base.html" %}
{% block title %}Health Programme | DONNONMBI CARE FOUNDATION{% endblock %}
{% block content %}
<section class="py-5">
    <div class="container">
        <h1 class="mb-4 text-success">Health Programme</h1>
        <p class="lead">
            We are committed to ensuring access to quality healthcare among underserved communities in Nigeria by supporting interventions that provide comprehensive eye care services aimed at reducing preventable blindness; improving maternal and child health care; combating Neglected Tropical Diseases (NTDs); and improving community access to portable water, with emphasis on proper sanitation and hygiene.
        </p>
    </div>
</section>
{% endblock %}
